.albums_wrapper {
    width: 550px;
    padding: 50px 10px;
}
.photo_wrapper {
    width: 300px;
}
li  {
    list-style-type: none;
}
.photos_btn {
    width: 530px;
    height: 25px;
    background: white;
    color:#994b51;
    border: 1px solid #994b51;
    cursor: pointer;
}
.photos_btn:hover {
    background: #994b51;
    color: white;
    opacity: 70%;
}
.header {
    font-size: 30px;
    color:#994b51;
    padding-left: 15px;
    padding-bottom: 8px;
}