/*reset styles*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.choose_user {
  color: #994b51;
  font-size: 25px;
  letter-spacing: 1.5px;
  padding: 50px 10px;
  font-weight: 600;
}
.main_screen {
  display: flex;
  padding: 20px;
}